.form_container {
  background-color: #00adb5;
  width: 50%;
  margin-top: 5%;
  margin-left: 20%;
  padding: 5rem;
  padding-bottom: 3rem;
  -webkit-box-shadow: 17px 15px 60px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 17px 15px 60px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 17px 15px 60px -15px rgba(0, 0, 0, 0.75);
  border-radius: 1.5rem;
  margin-bottom: 5rem;

  .form_container-calendar-input {
    background-color: #00adb5;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 1rem;
  }
  .detail_container {
    // background-color: #2b2e4a;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: white;

    .summary {
      // background-color: #2f89fc;
      font-size: 3rem;
      font-family: "Poiret One", cursive;
      padding: 1rem;
      color: white;
    }

    .pressure_container {
      background-color: white;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 2rem;
      .pressure_container-name {
        padding-right: 7rem;
        color: black;
      }
      .pressure_container-value {
        color: #2f89fc;
        font-weight: 900;
        font-family: "Poiret One", cursive;
      }
    }
    .humidity_container {
      background-color: white;
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 2rem;
      .humidity_container-name {
        padding-right: 10rem;
        color: black;
      }
      .humidity_container-value {
        color: #2f89fc;
        font-weight: 900;
        font-family: "Poiret One", cursive;
      }
    }

    .card_container {
      //background-color: red;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin-top: 5rem;
      margin-bottom: 0rem;
      padding-left: 0rem;
      padding-right: 6rem;
      padding-top: 1rem;
      padding-bottom: 0rem;
      .pressure-container {
        //background-color: pink;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .pressure-name {
          //background-color: yellow;
          transform: translateX(-1.5rem);
          display: flex;
          justify-content: flex-end;
          font-weight: 500;
        }
        .pressure-value {
          //background-color: pink;
          font-weight: 900;
          color: black;
          font-family: "Poiret One", cursive;
        }
      }
      .humidity-container {
        //background-color: green;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .humidity-name {
          //background-color: yellow;
          display: flex;
          justify-content: flex-end;
          font-weight: 500;
        }
        .humidity-value {
          //background-color: pink;
          font-weight: 900;
          color: black;
          font-family: "Poiret One", cursive;
        }
      }
    }

    .temperature_container {
      //background-color: red;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6rem;
      margin-top: 4rem;
      padding-left: 4rem;
      padding-right: 4rem;
      .temperature_high_container {
        //background-color: pink;
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        .img_icon_container-high {
          //background-color: blue;
          display: flex;
        }
        .value_container-high {
          //background-color: lightblue;
          color: black;
          font-weight: 900;
          font-family: "Poiret One", cursive;
        }
        .name_container-high {
          //background-color: orange;

          .head_name-high {
            font-size: 2rem;
          }
          .head_subname-high {
            text-transform: uppercase;
            font-weight: 900;
            display: flex;
            color: #c94e4e;
          }
        }
      }
      .temperature_low_container {
        //background-color: pink;
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        .img_icon_container-low {
          //background-color: blue;
          display: flex;
        }
        .value_container-low {
          //background-color: lightblue;
          color: #2f89fc;
          color: black;
          font-weight: 900;
          font-family: "Poiret One", cursive;
        }
        .name_container-low {
          //background-color: orange;

          .head_name-low {
          }
          .head_subname-low {
            text-transform: uppercase;
            font-weight: 900;
            display: flex;
            color: #bbcfff;
          }
        }
      }
    }
  }
  .date-picker {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.a {
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-weight: 300;
  color: white;
  background-color: black;
  border: none;
  margin: 1rem;
  margin-left: 2rem;
  padding: 1.2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-transform: uppercase;
  transform: translateY(-0.3rem);
  border-radius: 10rem;
}
.a:hover {
  background-color: #1e2a78;
  -webkit-box-shadow: 10px 10px 57px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 57px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 57px -10px rgba(0, 0, 0, 0.75);
}

input {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  padding: 1rem;
  border-radius: 10rem;
  outline: none;
  border: none;
}
