.header_container {
  //background-color: red;
  text-align: center;
  margin-top: 2rem;
  .actual-header {
    font-size: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-family: "Poiret One", cursive;
    font-weight: 500;
    color: white;
  }
}
